## Build
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

## IDE
.vs/
.vscode/
*.user
*.suo
*.sln.docstates

## OS
.DS_Store
Thumbs.db

## .NET
*.nupkg
*.snupkg
project.lock.json
artifacts/

## Test
TestResults/

## Plugins output
*.zip
